{% extends 'company_templates/layouts/layout.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<div class="content-anuncios">
    <div class="content-anuncios-box">
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Has olvidado tu contraseña? no te preocupes puedes cambiar tu contraseña si asi lo deseas, solo necesitamos un correo electronico valido para enviarte un link a tu correo electronico." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        <a><button>Contactar servicio al cliente</button></a>
    </div>
</div>
{% endblock content %}
