{% extends 'company_templates/layouts/layout.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<div class="content-anuncios">
    <div class="content-anuncios-box">
        <h1>{% trans "Password Reset" %}</h1>
        
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p>Le hemos enviado un correo electrónico. Si no lo ha recibido, compruebe su carpeta de spam. De lo contrario, póngase en contacto con nosotros si no lo recibe en unos minutos.</p>
        <a><button>Servicio al cliente</button></a>
    </div>
</div>
{% endblock content %}
