{% extends 'company_templates/layouts/layout.html' %}
{% load static %}
{% block title %}

{% endblock title %}

{% block content %}
    <div class="content-catalogos">
        {% include 'company_templates/layouts/layout-dashboard.html' %} 
        <div class="content-catalogos-general">
            {% comment %} Mensaje flash {% endcomment %}
            {% for msg in messages %}
            {% if msg.tags == 'error' %}
            <div id="error">
                <p>{{msg}}</p>
            </div>
            {% else %}
            <div id="success">
                <p>{{msg}}</p>
            </div>
            {% endif %}
            {% endfor %}
            {% comment %} Fin mensaje flash {% endcomment %}
            <div class="content-form">
                <h1>Agrega tus catalogos</h1>
                {% include "company_templates/layouts/form.html" %}
            </div>
        </div>
    </div>
{% endblock content %}

