{% extends 'company_templates/layouts/layout.html' %}
{% load static %}
{% block title %}
    {{catalogo.name}}
{% endblock %}
    
{% block content %}
<div class="section-catalog">
    <div class="content-catalog" id="content-catalog">
        <div id="content-menu">
            <div class="content-catalog-soporte">
                <div id="laso1"></div>
                <div id="laso2"></div>
            </div>
            <nav class="content-catalog-nav">
                <a id="btn-catalog">Catalogos</a>
                <div class="content-catalog-list-catalog" id="list-catalog">
                    <ul>
                        {% for filtroCatalogo in filtroCatalogos %}
                            <li><a href="{% url "verCatalogo" name_profile=filtroCatalogo.profile.name name=filtroCatalogo.name id=filtroCatalogo.id %}">{{filtroCatalogo.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <a id="btn-categorias">Categorias</a>
                <div class="content-catalog-list-category" id="lista-categorias">
                    <ul>
                            {% for filterCategory in filterCategories %}
                                <li><a href="asd">{{filterCategory.name}}</a></li>
                            {% endfor %}
                    </ul>
                </div>
                <form class="content-catalog-nav-form" method="GET">
                    <input type="text" placeholder="Buscar producto" name="buscar" value="{{request.GET.buscar}}">
                    <label>Filtrar por color:</label>
                    <button id="btn-color"><i class="fa-solid fa-fill-drip"></i></button>
                    <button id="btn-buscar" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button id="generar-url"><i class="fa-solid fa-fill-drip"></i></button>
                    <div class="palette-color" id="palette-color">
                        <p>Paleta de colores</p><span id="close"><i class="fa-solid fa-xmark"></i></span>
                        <div class="palette-color-list">
                            <div id="select-color" style="background-color:orange;"><input type="radio" class="check" value="Orange" name="color"></div>
                            <div id="select-color" style="background-color:black;"><input type="radio" class="check" value="Negro" name="color"></div>
                            <div id="select-color" style="background-color:red;"><input type="radio" class="check" value="Rojo" name="color"></div>
                            <div id="select-color" style="background-color:blue;"><input type="radio" class="check" value="Azul" name="color"></div>
                            <div id="select-color" style="background-color:green;"><input type="radio" class="check" value="Verde" name="color"></div>
                            <div id="select-color" style="background-color:white;"><input type="radio" class="check" value="Blanco" name="color"></div>
                            <div id="select-color" style="background-color:yellow;"><input type="radio" class="check" value="Amarillo" name="color"></div>
                            <div id="select-color" style="background-color:brown;"><input type="radio" class="check" value="Marron" name="color"></div>
                            <div id="select-color" style="background-color:pink;"><input type="radio" class="check" value="Rosado" name="color"></div>
                            <div id="select-color" style="background-color:purple;"><input type="radio" class="check" value="Morado" name="color"></div>
                            <div id="select-color" style="background-color:grey;"><input type="radio" class="check" value="Gris" name="color"></div>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
        <h1>{{catalogo.name}}</h1>
        {% if catalogo.type_catalog == 'Productos' %}
                  
                <div class="content-card-product">
                    {% for producto in productos %}
                    <div class="content-card-product-catalog">
                        <div class="background-card-product">
                            <div class="react">
                                <i class="fa-solid fa-heart"></i>
                                <i class="fa-solid fa-thumbs-up"><span style="font-size:13px; color:black;">45</span></i>
                            </div>
                            <img src="{{producto.photo_product1.url}}">
                            <div class="info-card-product">
                                <h1>{{producto.name_product}}</h1>
                                {% if producto.price_promo > 0 %}
                                    <p id="price-product">Antes: <span id="promo">{{producto.price}}</span></p>
                                    <p id="price-product">Ahora: <span style="background-color:#F7BB44; border-radius:10px; border:1px double #7D05B4; padding:2px;">{{producto.price}}</span></p>
                                {% else %}
                                    <p id="price-product">Precio: <span style="background-color:#F7BB44; border-radius:10px; border:1px double #7D05B4; padding:2px;">{{producto.price}}</span></p>
                                {% endif %}
                                <div id="feature-product">
                                    <p>Empresa: <span id="ver-empresa"><a href="{% url "perfil" profileBusiness.name profileBusiness.id %}">{{producto.profile.name}}</a></span></p>
                                    <span style="margin-right:6px;">Color:</span> <div class="circle-color" style="background-color:{{producto.color}}; width:20px; height:20px; border-radius:50%;"><div style="width:100%; height:100%;"></div></div>
                                    <p style="color:#7D05B4">Ver fotos</p>
                                </div>
                                <p>{{producto.description}}</p> 
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        {% endif %}
    </div>
</div>
{% endblock  %}

{% block script %}
<script src="{% static '../static/js/jquery-3.6.4.js' %}"></script>
<script src="{% static '../static/js/jquery-zoom.js' %}"></script>
<script>

    $(document).ready(function(){
        $("#generar-url").click(function(){
            // Realiza una solicitud AJAX para obtener la URL generada
            $.ajax({
                url: '/url_catalogo/',
                type: 'GET',
                success: function(data) {
                    // Copia la URL al portapapeles
                    var tempInput = $("<input>");
                    $("body").append(tempInput);
                    tempInput.val(data.url_generada).select();
                    document.execCommand("copy");
                    tempInput.remove();

                    alert("Se ha copiado la URL de tu perfil, pegala donde quieras! " + data.url_generada);
                }
            });
        });

        {% for producto in productos %}

            {% if producto.photo_product2 != '' %}
            $('#photo-2-{{producto.id}}').click(function(){
                $('#img-original-{{forloop.counter}}').attr('src','{{producto.photo_product2.url}}');
                $('#img-zoom-{{forloop.counter}}').attr('style','background-image: url(/media/{{producto.photo_product2}})');
            })
            {% endif %}
            {% if producto.photo_product3 != '' %}
                $('#photo-3-{{producto.id}}').click(function(){
                    $('#img-original-{{forloop.counter}}').attr('src','{{producto.photo_product3.url}}');
                    $('#img-zoom-{{forloop.counter}}').attr('style','background-image: url(/media/{{producto.photo_product3}})');
                })
            {% endif %}
            
            {% if producto.photo_product4 != '' %}
                $('#photo-4-{{producto.id}}').click(function(){
                    $('#img-original-{{forloop.counter}}').attr('src','{{producto.photo_product4.url}}');
                    $('#img-zoom-{{forloop.counter}}').attr('style','background-image: url(/media/{{producto.photo_product4}})');
                })
            {% endif %}

        {% endfor %}
    })

    $('#btn-catalog').hover(function(){
        $('#list-catalog').css('opacity','100').css('display','block')
        $('#lista-categorias').css('display','none')
    })

    $('#btn-categorias').hover(function(){
        $('#list-catalog').css('display','none')
        $('#lista-categorias').css('opacity','100').css('display','block')
    })

    $('#content-catalog').click(function(){
        $('#list-catalog').css('display','none')
        $('#lista-categorias').css('display','none')
    })

    // PALETA DE COLORES
    $('#btn-color').click(function(){
        $('#palette-color').css('display','block')
        $('#palette-color').css('opacity','100')
    })

    $('#close').click(function(){
        $('#palette-color').hide('slow')
    })


    {% for producto in productos %}
        imageZoom("img-original-{{forloop.counter}}", "img-zoom-{{forloop.counter}}");
    {% endfor %}
    

</script>
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
{% endblock script %}

