{% extends 'company_templates/layouts/layout.html' %}
{% load static %}
{% block title %}

{% endblock title %}

{% block content %}
    <div class="content-producto">
        {% include 'company_templates/layouts/layout-dashboard.html' %}
        <div class="content-producto-general">
            <h2>Edita tu producto</h2>
            <form class="form-producto" enctype="multipart/form-data" action="{% url "edicionProducto" name=request.user.username id=producto.id %}" method="POST">
                {% csrf_token %}
                <div class="content-producto-general-form">
                    {% for field in form %}
                      
                            <div class="field-form">
                                <label>{{field.label}}</label>
                                {{field}}
                            </div>
                   
                    {% endfor %}
                </div>
                <div class="funciones-botones">
                    <input type="submit" value="Editar">
                    <input id="btn-cancelar" value="Cancelar" type="button">
                </div>
            </form> 
        </div> 
    </div> 
{% endblock content %}

{% block script %}
<script src="{% static '../static/js/jquery-3.6.4.js' %}"></script>
<script>
    $(document).ready(()=>{
        $('#id_catalog').val('{{producto.catalog.id}}')
        $('#id_profile').val('{{producto.profile.id}}')
        $('#id_name_product').val('{{producto.name_product}}')
        $('#id_quantities').val('{{producto.quantities}}')
        $('#id_description').val('{{producto.description}}')
        $('#id_price').val('{{producto.price}}')


        $('#opc-Catalogo').text('Selecciona un catalogo para tu producto')

        setTimeout(function() {
            $("#success").fadeOut(1500);
        },3000);

    })

    

    $('#btn-cancelar').click(function(){
        $('.modal-form').removeClass("modal--show");
    });
</script>
{% endblock script %}