{% extends 'company_templates/layouts/layout.html' %}
{% load static %}
{% block title %}

{% endblock title %}

{% block content %}
    <div class="content-producto">
        {% include 'company_templates/layouts/layout-dashboard.html' %}
        <div class="content-producto-general">
            <div class="content-form">
                <h1>Editar servicio</h1>
                {% include "company_templates/layouts/form.html" %}
            </div>
        </div> 
    </div> 
{% endblock content %}

{% block script %}
<script src="{% static '../static/js/jquery-3.6.4.js' %}"></script>
<script>
    $(document).ready(()=>{
        $('#id_catalog').val('{{servicio.catalog.id}}')
        $('#id_profile').val('{{servicio.profile.id}}')
        $('#id_name_service').val('{{servicio.name_service}}')
        $('#id_description').val('{{servicio.description}}')
        $('#id_price').val('{{servicio.price}}')
        $('#id_valoration').val('{{producto.valoration}}')
        $('#id_price_promo').val('{{producto.price_promo}}')


        $('#opc-Catalogo').text('Selecciona un catalogo para tu producto')

        setTimeout(function() {
            $("#success").fadeOut(1500);
        },3000);

    })

    

    $('#btn-cancelar').click(function(){
        $('.modal-form').removeClass("modal--show");
    });
</script>
{% endblock script %}