{% extends 'company_templates/layouts/layout.html' %}
{% block title %}

{% endblock title %}

{% block content %}

    <div class="content-dash">
        {% include 'company_templates/layouts/layout-dashboard.html' %}     
        <div class="content-dash-general">
            <h1>Informacion general</h1>
            <div class="content-dash-general-estadistica">
                <div class="content-dash-general-estadistica-card">
                    <h3>
                        <h3>{{bussines}}</h3>
                    </h3>
                    <p>Perfiles de negocios</p>
                </div>
                <div class="content-dash-general-estadistica-card">
                    <h3>0</h3>
                    <p>Impresiones</p>
                </div>
                <div class="content-dash-general-estadistica-card">
                    <h3>0</h3>
                    <p>Me gustas alcanzados</p>
                </div>
            </div>
            <div class="content-dash-general-productos">
                <h1>Mis negocios</h1>
                <div class="content-negocio">
                    {% for perfil in profile %}
                    {% if perfil.user.id == request.user.id %}
                        <a href="{% url 'perfil' perfil.name perfil.id %}">
                            <div class="content-negocio-card">
                                <div class="content-negocio-card-perfil">
                                    <img src="{{perfil.photo_profile.url}}">
                                </div>
                                <div class="content-negocio-card-info">
                                    <h3>{{perfil.name}}</h3>
                                    <span>{{perfil.category.name}}<span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

