{% extends 'company_templates/layouts/layout.html' %}
{% load static %}
{% block title %}
    Editar perfil
{% endblock title %}

{% block content %}

{% comment %} Mensaje de error {% endcomment %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
        <p id="error">{{message}}</p>
    {% else %}
    <p id="success">{{message}} <a href="{% url 'perfil' perfil.name perfil.id %}">Volver al perfil</a></p>
    {% endif %} 
    {% endfor %}  
{% comment %} Fin {% endcomment %} 

    <div class="content-bussines">
        {% include 'company_templates/layouts/layout-dashboard.html' %} 
        <div class="content-bussines-general">  
            <div class="content-form">
                <h1>Añade tus productos</h1>
                {% include "company_templates/layouts/form.html" %}
            </div>
        </div> 
    </div> 
{% endblock content %}

{% block script %}
    <script src="{% static '../static/js/jquery-3.6.4.js' %}"></script>
    <script>
    $(document).ready(()=>{
        $('#id_name').val('{{perfil.name}}')       
        $('#id_bio').val('{{perfil.bio}}')       
        $('#id_category').val('{{perfil.category_id}}')
        $('#id_description').val('{{perfil.description}}')
        $('#id_contact').val('{{perfil.contact}}')
        $('#id_email').val('{{perfil.email}}')
        $('#id_facebook').val('{{perfil.facebook}}')
        $('#id_instagram').val('{{perfil.instagram}}')
        $('#id_whatsapp').val('{{perfil.whatsapp}}')

         // Solo imagenes
         $('input[type=file]').attr('accept','image/.jpg, .png, .jpeg, .webp');

         //Editar recuadro de imagen para Editar
        $('.content-field-4').html('<input type="file" name="photo_portada" accept="image/.jpg, .png, .jpeg, .webp" id="id_photo_portada"><div id="msg-file-11" style="position:relative; bottom:70px; font-size:12px; text-align:center;"><p>Puedes editar tu imagen aqui</p><p>{{perfil.photo_portada}}</p></div>')
        $('.content-field-5').html('<input type="file" name="photo_profile" accept="image/.jpg, .png, .jpeg, .webp" id="id_photo_profile"><div id="msg-file-12" style="position:relative; bottom:70px; font-size:12px; text-align:center;"><p>Puedes editar tu imagen aqui</p><p>{{perfil.photo_profile}}</p></div>')

        // Validacion de INPUT file
        $('#id_photo_portada').on("change", function(){
            if($('id_photo_portada').value != ""){
                const archivo = this.value.replace('C:\\fakepath\\','')
                $('#msg-file-11').html('<div style="position:relative; bottom:43px; font-size:12px; text-align:center;"><input type="file" name="photo_portada" accept="image/.jpg, .png, .jpeg, .webp" id="id_photo_portada"><p>Se a cargado la nueva imagen</p><p style="display:relative; top:2px;" id="arc-11"></p></div>')  
                $('#arc-11').html(archivo)  
            } 
        })

        $('#id_photo_profile').on("change", function(){
            if($('id_photo_profile').value != ""){
                const archivo = this.value.replace('C:\\fakepath\\','')
                $('#msg-file-12').html('<div style="position:relative; bottom:43px; font-size:12px; text-align:center;"><input type="file" name="photo_profile" accept="image/.jpg, .png, .jpeg, .webp" id="id_photo_profile"><p>Se a cargado la nueva imagen</p><p style="display:relative; top:2px;" id="arc-12"></p></div>')  
                $('#arc-12').html(archivo)  
            } 
        })

    })
    </script>
{% endblock script %}




