{% extends 'company_templates/layouts/layout.html' %}
{% load static %}

{% block title %}
    Perfil | Otawind
{% endblock title %}

{% block content %}
    <section class="section-perfil">
        <div class="content-perfil">
            <div class="content-perfil-foto">
                <div class="content-perfil-foto-portada">
                    <div class="imagen-portada">
                        <img src="{{perfilBusiness.photo_portada.url}}">
                    </div>
                </div>

                <div class="content-perfil-foto-fotoPerfil">
                    <div class="imagen-perfil">
                        <img src="{{perfilBusiness.photo_profile.url}}">
                    </div>
                    <div class="info-perfil">
                        <h1>{{perfilBusiness.name}}</h1>
                        <p>{{perfilBusiness.category}}</p>
                        <p id="info-perfil-bio">{{perfilBusiness.bio}}</p>
                    </div> 
                    <div class="botones-funciones">
                        <a href="/edicion-perfil/{{perfilBusiness.id}}" id="btn-editar">Editar perfil</a>
                        <button id="generar-url"><i class="fa-solid fa-share-nodes"> </i></button>
                        <a id="btn-ajustar"><i class="fa-solid fa-gears"></i> <i class="fa-solid fa-caret-down"></i></a>
                    </div>   
                </div>

                <h2 id="titulo-catalogo">Catalogos</h2>
                <div class="content-perfil-foto-catalogo">
                    {% for catalogo in page_catalogos %}
                    {{catalogo.perfil_id}}
                    {% if catalogo.profile_id == catalogo.profile.id %}
                    <div class="content-perfil-foto-catalogo-box">
                        <div class="box-catalogo">
                            <img src="{{catalogo.photo_portada.url}}">
                            <div class="box-catalogo-descripcion">
                                <h2 class="titulo-catalogo">{{catalogo.name}}</h2>
                                <div class="cant-productos">
                                    {% if catalogo.type_catalog == 'Productos' %}
                                    {% for catalogs in cant_catalogs %}
                                        {% if catalogs.id == catalogo.id and catalogo.type_catalog == 'Productos' %}
                                            <span id="cantProduct">{{catalogs.cantPro}}</span>
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                    {% if catalogo.type_catalog == 'Servicios' %}
                                    {% for catalogs in cant_services %}
                                        {% if catalogs.id == catalogo.id and catalogo.type_catalog == 'Servicios' %}
                                            <span id="cantProduct">{{catalogs.cantSer}}</span>
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <p>Productos disponibles</p>
                                <div class="descripcion">
                                    <p>{{catalogo.description}}</p>
                                </div>
                                <a  class="btn-ver" href="{% url "verCatalogo" name_profile=catalogo.profile.name name=catalogo.name id=catalogo.id %}">Ver catalogo</a>
                            </div>
                        </div>
                    </div>
                    
                    {% endif %}
                    {% empty %}
                    <div class="catalogo-error">
                        <h2>No se encontraron catalogos en tu perfil</h2>
                        <p>¿Deseas agregar un catalogo a tu perfil?</p>
                        <a href="{% url "addCatalogo" id=perfilBusiness.id %}"><button>Agregar catalogo</button></a>
                    </div>
                    {% endfor %}
                    
                </div>
                {% comment %} Paginacion {% endcomment %}
                <div id="paginacion">
                    <span class="step-links">
                        {% if  page_catalogos.has_previous %}
                            <a href="?page=1">&laquo; Primero</a>
                            <a href="?page={{  page_catalogos.previous_page_number }}">Anterior</a>
                        {% endif %}
                        <span class="current">
                            Pagina {{  page_catalogos.number }} de {{  page_catalogos.paginator.num_pages }}.
                        </span>
                        {% if  page_catalogos.has_next %}
                            <a href="?page={{  page_catalogos.next_page_number }}">Siguiente</a>
                            <a href="?page={{  page_catalogos.paginator.num_pages }}">Ultima &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <div class="content-perfil-descripcion">
                    <div class="content-perfil-descripcion-info">
                        <h2>Descripcion</h2>
                        <p>{{perfilBusiness.description|safe}}</p>
                    </div>
                    <div class="content-perfil-descripcion-detalle">
                        <h2>Detalles</h2>
                        <h3>Contacto</h3>
                        <p>{{perfilBusiness.contact}}</p>
                        <h3>Email</h3>
                        <p>{{perfilBusiness.email}}</p>
                        <h3>Redes sociales</h3>
                        <div class="content-perfil-descripcion-detalle-social">
                            <div class="box-social">
                                <a href="{{perfilBusiness.facebook}}" target="_blank"><dotlottie-player src="https://lottie.host/ec75b7fe-3ad9-4faf-9d58-435cc22dbbf5/LWiUZ6fcGg.json" background="transparent" speed="1" style="width: 90px; height: 90px" loop autoplay></dotlottie-player></a>
                                <a href="{{perfilBusiness.whatsapp}}" target="_blank"><dotlottie-player src="https://lottie.host/52bda2bc-1c9a-4430-a554-4dc1fe4188a7/cp6aH1u1R6.json" background="transparent" speed="1" style="width: 80px; height: 80px" loop autoplay></dotlottie-player></a>
                                <a href="{{perfilBusiness.instagram}}" target="_blank"><dotlottie-player src="https://lottie.host/2e7afe45-b4ea-49c0-a03e-4e62aa53b95d/IIqg7xkZZA.json" background="transparent" speed="1" style="width: 90px; height: 90px;" loop autoplay></dotlottie-player></a>
                                
                            
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block script %}  

<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
<script src="{% static '../static/js/jquery-3.6.4.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#generar-url").click(function(){
            // Realiza una solicitud AJAX para obtener la URL generada
            $.ajax({
                url: '/generar_url/',
                type: 'GET',
                success: function(data) {
                    // Copia la URL al portapapeles
                    var tempInput = $("<input>");
                    $("body").append(tempInput);
                    tempInput.val(data.url_generada).select();
                    document.execCommand("copy");
                    tempInput.remove();

                    alert("Se ha copiado la URL de tu perfil, pegala donde quieras! " + data.url_generada);
                }
            });
        });
    });
</script>
{% endblock script %}

