{% load static %}
<section class="menu-dashboard">
    <div class="content-dashboard">
        <h2>Administra tu empresa</h2>
        <p>Menu de opciones</p>
        <div class="content-dashboard-menu">
            <div class="content-dashboard-menu-general">
                <a href="{% url 'bussines' %}">
                    <div class="content-dashboard-menu-boton">
                        <i class="fa-regular fa-building"></i>
                        <h4>Agregar perfil de empresa</h4>
                    </div>
                </a>

                <a href="{% url 'productos' name=request.user.username id=request.user.id %}">
                    <div class="content-dashboard-menu-boton">
                        <i class="fa-solid fa-shop"></i>
                        <h4>Mis productos</h4>
                    </div>
                </a>

                <a href="{% url 'viewCatalogo' name=request.user.username id=request.user.id %}">
                    <div class="content-dashboard-menu-boton">
                        <i class="fa-solid fa-clipboard-list"></i>
                        <h4>Mis catalogos</h4>
                    </div>
                </a>

                <div id="finanzas" class="content-dashboard-menu-boton">
                    <div id="msg-comming"><p>Proximamente</p></div>
                    <i class="fa-solid fa-coins"></i>
                    <h4>Finanzas</h4>
                </div>

                <a href="{% url 'servicios' name=request.user.username id=request.user.id %}">
                    <div class="content-dashboard-menu-boton">
                        <i class="fa-solid fa-shop"></i>
                        <h4>Mis servicios</h4>
                    </div>
                </a>

                <a href="{% url 'selectPerfil' %}">
                    <div class="content-dashboard-menu-boton">
                        <i class="fa-solid fa-square-plus"></i>
                        <h4>Agregar catalogo</h4>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>

<script src="{% static '../static/js/jquery-3.6.4.js' %}"></script>

<script>
    $(document).ready(()=>{
        // Menu dashboard
        //$('#finanzas').prop("disabled", true)
        $('#finanzas').css('background-color','grey')
        $('#inventario').css('background-color','grey')
    })
</script>