{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/styles_layouts/layout.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_global/styles_globales.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_index.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_signup.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_login.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_createAccount.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_layouts/layout-dashboard.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_dashboard.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_bussines.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_profile.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_catalogo.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_productos.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_global/styles_catalogs.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_global/styles_form.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_global/styles_modal.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_perfil.css' %}">

    {% comment %} Google fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">

    {% comment %} Lotties {% endcomment %}
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    {% comment %} FontAwesome {% endcomment %}
    
    <!-- Our project just needs Font Awesome Free's Solid and Brand files -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    
    <title>
        {% block title %}
        {% endblock %}
        | Otawind
    </title>
</head>
<body>
<div class="overlay"></div>
    <header>
        <label for="check" class="mostrar-menu" id="mostrar-menu">
            &#8801
        </label>
        <input type="checkbox" id="check">
        <nav class="nav-bar">
                <div class="nav-bar-content">
                    <label for="check" class="esconder-menu">
                        &#215
                    </label>
                    
                    {% if request.user.username %}
                        <a class="opc-nav" href="{% url 'index' request.user.username %}">Inicio</a>
                        {% if request.user.username %}
                            <a href="{% url 'dashboard' username.username %}" class="opc-nav">Mi Ota-panel</a>
                        {% endif %}
                        <a class="opc-nav" id="report-error" href="#">Reportar error</a>
                        <a class="opc-nav" href="{% url 'acercaDe' %}">Acerca de otawind</a>
                        {% if perfilAccount.photo_profile.url %}
                        <a class="menu-perfil"><div class="nav-bar-content-imagenPerfil"><img src="{{perfilAccount.photo_profile.url}}"></div></a>
                        {% else %}
                        <a class="menu-perfil"><div class="nav-bar-content-imagenPerfil-none"></div></a>
                        {% endif %}
                        <div class="nav-bar-content-menu">
                            <h4>¿Que deseas hacer?</h4>
                            
                            <div class="nav-bar-content-menu-opciones">
                                <ul>
                                    <li><p id="content-bienvenido-user">Hola {{request.user.username}}</p><span style="color:green">Tipo de cuenta | Estandar</span></li>
                                    <hr/>
                                    <li><a href="{% url 'dashboard' name=username.username %}" id="opc-menu">Bandeja de mensajes</a></li>
                                    <li><a href="{% url 'dashboard' name=username.username %}" id="opc-menu">Soporte</a></li>
                                    <li><a href="{% url 'dashboard' name=username.username %}" id="opc-menu">Administrar mi cuenta</a></li>
                                    <li><a href="{% url "viewPerfil" name=request.user.username id=request.user.id %}" id="opc-menu">Mi cuenta</a></li>
                                </ul>
                            </div>
                            <div class="nav-bar-content-menu-logout">
                                <a id="btn-logout" href="{% url 'logout' %}"><i class="fa-solid fa-power-off"></i></a>
                            </div>
                        </div>
                    {% else %}
                        <a href="#" class="opc-nav">Acerca de Otawind</a>
                        <a class="opc-nav" href="{% url 'ingreso' %}">Ingresar</a>
                        <a class="opc-nav" href="{% url 'registro' %}">Registrate</a>
                    {% endif %}
                    <label for="check" class="esconder-menu">  
                    </label>    
                </div>
        </nav>    
    </header>

    <div class="content">
        {% block content %}
            
        {% endblock %}
    </div>
<footer>
    <div class="content-footer">
        <div class="content-footer-linea">
            <div class="content-footer-social">
                <h4>Siguenos</h4>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
        <div class="content-footer-general">
            <div class="content-footer-general-acercade">
                <h2>Acerca de OTAWIND</h2>
                <p>Otawind es una plataforma de catalogos y productos donde se puede crear un amplio portafolio de catalogos, productos y servicios, donde se podra tener un perfil de empresa ofreciendo servicios y productos de calidad</p>
            </div>
            <div class="content-footer-general-menu">
                <h2>Menu</h2>
                <ul>
                    <a href="{% url 'home' %}"><li>Inicio</li></a>
                    <a href=""><li>¿Quienes somos?</li></a>
                    <a href="{% url 'registro' %}"><li>Registrate</li></a>
                    <a href="{% url 'ingreso' %}"><li>Ingresar</li></a>
                </ul>
            </div>
        </div>  
    </div>
    <div class="content-footer-copyrigth">
        <p>Todos los derechos reservados por Otawind&copy;</p>
    </div>
</footer>
    

{% block script %}

{% endblock script %}



<script src="{% static '../static/js/jquery-3.6.4.js' %}"></script>
<script>
    $(document).ready(()=>{
        $('.nav-bar-content-menu').hide()
        // Mensaje de success
        setTimeout(function() {
            $("#success").fadeOut(1500);
        },2000);
        //Mensaje de error
        setTimeout(function() {
            $("#error").fadeOut(1500);
        },2000);
    });

    $('.menu-perfil').click(function(){
        $('.nav-bar-content-menu').show()
        $('.overlay').show()
    })

    $('.overlay').click(function(){
        $('.nav-bar-content-menu').hide()
        $('.overlay').hide()
    })

</script>
</body>
</html>