/* 
TABLA DE CONTENIDO

1 - Contenido general
2 - Navbar
3 - Formulario
4 - Tabla

*/

/* 1 - Contenido general */
.content-productos{
    display: block;
    height: auto;
    width: 100%;
}

.content-producto-general{
    width: 100%;
}

#no-found{
    text-align: center;
}

#titulo-sesion{
    margin-top: 100px;
    margin-left: 20px;
}

#titulo-productos{
    margin-top: 100px;
    margin-left: 20px;
}
/* 2 - Navbar */
.content-producto-general-navbar{
    display: flex;
    align-items: center;
    width: auto;
    margin-top: 50px;
}

.content-producto-general-navbar .content-filters ul{
    font-size: 12px;
    margin-left: 10px;
}

.content-producto-general-navbar .content-filters span{
    color: #7F38B4;
}

.content-producto-general-navbar .btn-opc{
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #F0CFFC;
    margin: 30px;
    height: 80px;
    width: 80px;
}

.content-producto-general-navbar .btn-opc .btn-opc-boton{
    margin: 10px;
}

.content-producto-general-navbar .btn-opc .btn-opc-boton a{
    text-decoration: none;
    display: contents;
    width: 100%;
    margin: 20px;
    height: 100%;
    font-size: 12px;
}

.content-producto-general-navbar .btn-opc .btn-opc-boton i{
    font-size: 26px;
} 




/* 4 - Tabla */
.content-producto-general-tabla{
    margin-bottom: 120px;
}

.tabla-productos{
    height: auto;
    margin: 0 auto;
    padding: 10px;
    width: 95%;
    background-color: #F4F4F4;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.tabla-productos tr{
    text-align: center;
}

.tabla-productos td{
    word-wrap: break-word;
    overflow: auto;
    text-align: center;
}

.tabla-productos td a{
    cursor: pointer;
}

.tabla-productos th{
    padding: 20px;
}

.tabla-productos #name_product{
    color: #7F38B4;
    padding: 10px;
}

.tabla-productos .tabla-productos-datos #foto-producto{
    width: 100px;
    height: 80px;
    padding: 17px;
}

.tabla-productos .tabla-productos-datos img{
    width: 100%;
    height: 100%;
}

/* Formulario de busqueda */

.form-product{
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    background-color: #F4F4F4;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.form-product label{
    margin-left: 20px;
}

.form-product input, select{
    border: none;
    padding: 4px;
    border-radius: 10px;
    margin-left: 10px;
    height: 30px;
    width: 200px;
    color: #7F38B4;
}